ul, input {
    margin: 0;
}

::-webkit-scrollbar {display:none}

.dateDiv {
    padding: 5px;
}

.datepicker {
    background: transparent;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    width: 90%;
}