#container{
  height:100%;
  width:100%;
}



.box {
  float: left;
  height: 120px;
  width: 220px;
  color: #ffffff;
  background: no-repeat url(https://wimg.588ku.com/gif620/21/02/03/0dadc92e84c3d74066a6bd5690eacea7.gif) -10px -55px;
  background-size: 100%;
}

.sp_top {
  font-size: 14px;
  line-height: 15px;
}

.sp_en {
  height: 15px;
  line-height: 15px;
  font-size: 13px;
}

.box-cent {
  margin: 10px 20px;
  display: none;
}