
@font-face {
  font-family: "iconfont"; /* Project id 2763494 */
  src: url('iconfont.woff2?t=1629710238949') format('woff2'),
       url('iconfont.woff?t=1629710238949') format('woff'),
       url('iconfont.ttf?t=1629710238949') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-approve::before {
  content: "\e626";
}