::-webkit-scrollbar {display:none}

#visualDom{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title-text {
    position: absolute;
}

.v-left {
    left: 0;
}
.v-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform:  translateX(-50%);
    transform: translateX(-50%);
}
.v-right {
    right: 0;
}

.h-top  {
    top: 0;
}

.h-center  {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform:  translateY(-50%);
    transform: translateY(-50%);
}

.h-bottom  {
    bottom: 0;
}

.center {
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    transform: translate(-50%,-50%);
}